[include]
    path = ~/.gitconfig.local
[core]
    editor = nvim -c \"set fenc=utf-8\"
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[ghq]
    root = ~/repos
[alias]
    b = branch
    bd = branch -d

    cm = commit
    cmm = commit -m

    d = diff

    st = status

    sw = switch
    swm = !git remote show origin | grep 'HEAD branch' | awk '{print $NF}' | xargs git switch
    # swm = !git symbolic-ref refs/remotes/origin/HEAD | cut -f4 -d'/' | xargs git switch
